@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-gradient {
    background: linear-gradient(to right, #151416, #02030c);
}



.hero-background {
    background-image: url('/athletes-on-chain/public/images/pexels-dream-3306490.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
}







/* .container-padding {
    padding-left: 2rem;
    
    padding-right: 2rem;
}

@media (min-width: 768px) {
    .container-padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1024px) {
    .container-padding {
        padding-left: 6rem;
        padding-right: 6rem;
    }
} */
